
@page "/"
@implements IDisposable
@inject ISessionViewModel SessionViewModel
@inject IIntroductionSearchViewModel IntroductionSearchViewModel
@inject ILogger<IndexPage> Logger
@inject IJSRuntime JSRuntime

<PageTitle>RecipeApp - Home</PageTitle>

<div class="row mb-3">
    <ApiResultMessagesComponent ApiResultMessages="@IntroductionSearchViewModel.ApiResultMessages" />
</div>

@if (IntroductionSearchViewModel.IsBusy)
{
    <div class="row text-center text-primary">
        <h3>Searching... please wait</h3>
    </div>
}
else
{
    @if (IntroductionSearchViewModel.HasSearched)
    {
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width:80%">
                            <div class="d-inline-flex align-items-center">
                                Title &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Filter &nbsp;&nbsp;
                                <input type="text"
                                       id="FilterInput"
                                       title="Input only filters this page.  Search to get new result set."
                                       class="form-control form-control-sm"
                                       style="width:150px"
                                       value="@IntroductionSearchViewModel.FilterText"
                                       @oninput="(ChangeEventArgs changeEventArgs) => OnFilterInputChange(changeEventArgs)">
                            </div>
                        </th>
                        <th style="width:10%">Ingredients</th>
                        <th style="width:10%">Instructions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in IntroductionSearchViewModel.FilteredIntroductionSearchResult.Data)
                    {
                        var itemId = item.Id.ToString();
                        var detailLink = $"/Details/{itemId}";
                        <tr title="@(item.Comment)">
                            <td>
                                <a class="nav-link"
                                   aria-current="page"
                                   href="@detailLink">
                                    @item.Title
                                </a>
                            </td>
                            <td class="text-center">
                                <span class="badge bg-info text-dark">@(item.IngredientsCount)</span>
                            </td>
                            <td class="text-center">
                                <span class="badge bg-info text-dark">@(item.InstructionsCount)</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (IntroductionSearchViewModel.IntroductionSearchResult.Meta.PageCount > 1)
        {
            <PaginationComponent TotalItemCount="@IntroductionSearchViewModel.FilteredIntroductionSearchResult.Meta.TotalItemCount"
                                 PageCount="@(Math.Min(IntroductionSearchViewModel.FilteredIntroductionSearchResult.Meta.PageCount, 10))"
                                 PageNumber="@(IntroductionSearchViewModel.FilteredIntroductionSearchResult.Meta.PageNumber)"
                                 PageNumberClicked="@((int pageNumber) => SearchAsync(pageNumber))" />
        }
    }
    else
    {
        <div class="row text-center mb-3">
            <h3>Welcome to the Recipe App</h3>
            <p>Input a search term and click Search</p>
        </div>
    }
}

@code {

    public void Dispose() =>
        IntroductionSearchViewModel.StateHasChangedEvent -= IntroductionSearchViewModel_StateHasChangedEvent;

    //protected string PageName = nameof(IndexPage);

    protected override async Task OnInitializedAsync()
    {
        Logger.LogInformation($"*** {nameof(Index)} *** --> {nameof(OnInitializedAsync)}");

        IntroductionSearchViewModel.StateHasChangedEvent += IntroductionSearchViewModel_StateHasChangedEvent;
        // The following does not make sense...should only search when clicking on Search button
        //if (IntroductionSearchViewModel.HasSearched)
        //    await SearchAsync(IntroductionSearchViewModel.IntroductionSearchResult.Meta.PageNumber, IntroductionSearchViewModel.IntroductionSearchResult.Meta.PageSize);

        await base.OnInitializedAsync();
    }

    protected override void OnParametersSet()
    {
        Logger.LogInformation($"*** {nameof(Index)} *** --> {nameof(OnParametersSet)}");

        base.OnParametersSet();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Logger.LogInformation($"*** {nameof(Index)} *** --> {nameof(OnAfterRender)}");

        base.OnAfterRender(firstRender);
    }


    protected void IntroductionSearchViewModel_StateHasChangedEvent(object sender, EventArgs e) =>
        StateHasChanged();

    protected async Task SearchAsync(int pageNumber = 1, int pageSize = 10)
    {
        try
        {
            Logger.LogInformation($"{nameof(SearchAsync)}({pageNumber}, {pageSize})");

            IntroductionSearchViewModel.SetBusyFlag(true);
            await IntroductionSearchViewModel.SearchAsync(pageNumber, pageSize);
            // When not on home page and click Search, the toast is fired twice:
            // -- once here
            // -- once from MainLayout
            //await JSRuntime.ToastAsync(new ToastModel(ToastType.info, "Search Results", $"Found {IntroductionSearchViewModel.IntroductionSearchResult.Meta.TotalItemCount} result(s)"));
        }
        catch (Exception ex)
        {
            SessionViewModel.HandleException(ex, IntroductionSearchViewModel.ApiResultMessages, this.ComponentName());
        }
        finally
        {
            IntroductionSearchViewModel.SetBusyFlag(false);
        }
    }

    protected void OnFilterInputChange(ChangeEventArgs changeEventArgs)
    {
        try
        {
            Logger.LogInformation($"{nameof(OnFilterInputChange)}({changeEventArgs.Value?.ToString()})");

            IntroductionSearchViewModel.FilterText = changeEventArgs.Value?.ToString();
        }
        catch (Exception ex)
        {
            SessionViewModel.HandleException(ex, IntroductionSearchViewModel.ApiResultMessages, this.ComponentName());
        }
    }
}
