
@page "/"
@implements IDisposable
@inject IIntroductionSearchViewModel IntroductionSearchViewModel

<div class="row text-center mb-3">
    <ApiResultMessagesComponent ApiResultMessages="@IntroductionSearchViewModel.ApiResultMessages" />
</div>

@if (IntroductionSearchViewModel.HasSearched)
{
    <div class="row text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Ingredients</th>
                    <th scope="col">Instructions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in IntroductionSearchViewModel.IntroductionSearchResults)
                {
                    <tr>
                        <td title="@(item.Comment)">@(item.Title)</td>
                        <td>@(item.IngredientsCount)</td>
                        <td>@(item.InstructionsCount)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="row text-center">
        <h3>Welcome to the Recipe App</h3>
        <p>Input a search term and click Search</p>
    </div>
}

@code {

    public void Dispose() =>
        IntroductionSearchViewModel.StateHasChangedEvent -= IntroductionSearchViewModel_StateHasChangedEvent;

    protected override void OnInitialized()
    {
        IntroductionSearchViewModel.StateHasChangedEvent += IntroductionSearchViewModel_StateHasChangedEvent;

        base.OnInitialized();
    }

    protected void IntroductionSearchViewModel_StateHasChangedEvent(object sender, EventArgs e) =>
        StateHasChanged();

}
