
@page "/"
@implements IDisposable
@inject ISessionViewModel SessionViewModel
@inject IIntroductionSearchViewModel IntroductionSearchViewModel
@inject ILogger<IndexPage> Logger
@inject ISnackbar Snackbar

<div class="row mb-3">
    <ApiResultMessagesComponent ApiResultMessages="@IntroductionSearchViewModel.ApiResultMessages" />
</div>
@if (IntroductionSearchViewModel.IsBusy)
{
    <div class="d-flex justify-center mud-alert mud-alert-text-info">
        <h3>Searching... please wait</h3>
    </div>
}
else
{
    @if (IntroductionSearchViewModel.HasSearched)
    {
    }
    else
    {
        <div class="mud-paper d-flex justify-center">
            <h3>Welcome to the Recipe App</h3>
        </div>
        <div class="mud-paper d-flex justify-center mb-3">
            <p>Input a search term and click Search</p>
        </div>
    }
}


@code {

    public void Dispose() =>
        IntroductionSearchViewModel.StateHasChangedEvent -= IntroductionSearchViewModel_StateHasChangedEvent;

    protected string PageName = nameof(IndexPage);

    protected override async Task OnInitializedAsync()
    {
        IntroductionSearchViewModel.StateHasChangedEvent += IntroductionSearchViewModel_StateHasChangedEvent;
        if (IntroductionSearchViewModel.HasSearched)
            await SearchAsync(IntroductionSearchViewModel.IntroductionSearchResult.Meta.PageNumber, IntroductionSearchViewModel.IntroductionSearchResult.Meta.PageSize);

        await base.OnInitializedAsync();
    }

    protected void IntroductionSearchViewModel_StateHasChangedEvent(object sender, EventArgs e) =>
        StateHasChanged();

    protected async Task SearchAsync(int pageNumber = 1, int pageSize = 10)
    {
        try
        {
            Logger.LogInformation($"{nameof(SearchAsync)}({pageNumber}, {pageSize})");

            IntroductionSearchViewModel.SetBusyFlag(true);
            await IntroductionSearchViewModel.SearchAsync(pageNumber, pageSize);
        }
        catch (Exception ex)
        {
            SessionViewModel.HandleException(ex, IntroductionSearchViewModel.ApiResultMessages, PageName);
        }
        finally
        {
            IntroductionSearchViewModel.SetBusyFlag(false);
        }
    }

    /*
    @*<MudTable Items="@(IntroductionSearchViewModel.IntroductionSearchResult.Data)"
                  Hover="true"
                  Bordered="true"
                  Striped="true">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Recipe(s)</MudText>
                <MudToolBarSpacer />
                <MudTextField T="string"
                              Placeholder="Filter"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"
                              Class="mt-0">
                </MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Title</MudTh>
                <MudTh>Ingredients</MudTh>
                <MudTh>Instructions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Title">@context.Title</MudTd>
                <MudTd DataLabel="Ingredients">@context.IngredientsCount</MudTd>
                <MudTd DataLabel="Instructions">@context.InstructionsCount</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>*@
    */

}